Repository eclipse/nebula, pull requests merged in 2018-11, with the labels that each got.

#1 Bug 537656: Consider image existence and allow proper positioning of edit widget in XViewerEditAdapter
  widgets/xviewer/org.eclipse.nebula.widgets.xviewer/src/org/eclipse/nebula/widgets/xviewer/edit/XViewerEditAdapter.java
Labels: V2.1.0, XViewer, enhancement

#21 Fix Bug 534362 - Please provide Opal source jars
  widgets/nebulaslider/org.eclipse.nebula.widgets.nebulaslider.feature/feature.xml
  widgets/opal/breadcrumb/org.eclipse.nebula.widgets.opal.breadcrumb.feature/feature.xml
  widgets/opal/calculator/org.eclipse.nebula.widgets.opal.calculator.feature/feature.xml
  widgets/opal/checkboxgroup/org.eclipse.nebula.widgets.opal.checkboxgroup.feature/feature.xml
  widgets/opal/columnbrowser/org.eclipse.nebula.widgets.opal.columnbrowser.feature/feature.xml
  widgets/opal/commons/org.eclipse.nebula.widgets.opal.commons.feature/feature.xml
  widgets/opal/dialog/org.eclipse.nebula.widgets.opal.dialog.feature/feature.xml
  widgets/opal/duallist/org.eclipse.nebula.widgets.opal.duallist.feature/feature.xml
  widgets/opal/header/org.eclipse.nebula.widgets.opal.header.feature/feature.xml
  widgets/opal/heapmanager/org.eclipse.nebula.widgets.opal.heapmanager.feature/feature.xml
  widgets/opal/horizontalspinner/org.eclipse.nebula.widgets.opal.horizontalspinner.feature/feature.xml
  widgets/opal/launcher/org.eclipse.nebula.widgets.opal.launcher.feature/feature.xml
  widgets/opal/logindialog/org.eclipse.nebula.widgets.opal.logindialog.feature/feature.xml
  widgets/opal/multichoice/org.eclipse.nebula.widgets.opal.multichoice.feature/feature.xml
  widgets/opal/notifier/org.eclipse.nebula.widgets.opal.notifier.feature/feature.xml
  widgets/opal/panels/org.eclipse.nebula.widgets.opal.panels.feature/feature.xml
  widgets/opal/preferencewindow/org.eclipse.nebula.widgets.opal.preferencewindow.feature/feature.xml
  widgets/opal/promptsupport/org.eclipse.nebula.widgets.opal.promptsupport.feature/feature.xml
  widgets/opal/propertytable/org.eclipse.nebula.widgets.opal.propertytable.feature/feature.xml
  widgets/opal/rangeslider/org.eclipse.nebula.widgets.opal.rangeslider.feature/feature.xml
  widgets/opal/roundedtoolbar/org.eclipse.nebula.widgets.opal.roundedtoolbar.feature/feature.xml
  widgets/opal/starrating/org.eclipse.nebula.widgets.opal.starrating.feature/feature.xml
  widgets/opal/switchbutton/org.eclipse.nebula.widgets.opal.switchbutton.feature/feature.xml
  widgets/opal/textassist/org.eclipse.nebula.widgets.opal.textassist.feature/feature.xml
  widgets/opal/tipoftheday/org.eclipse.nebula.widgets.opal.tipoftheday.feature/feature.xml
  widgets/opal/titledseparator/org.eclipse.nebula.widgets.opal.titledseparator.feature/feature.xml
  widgets/progresscircle/org.eclipse.nebula.widgets.progresscircle.feature/feature.xml
Labels: RELENG

#25 Bug 535444 - Drag n'drop on RoundedToolItem
  widgets/opal/roundedtoolbar/org.eclipse.nebula.widgets.opal.roundedtoolbar/src/org/eclipse/nebula/widgets/opal/roundedtoolbar/RoundedToolbar.java
Labels: RoundedToolbar

#23 Bug 535446 - TextAssist should have a method to set the focus
  widgets/opal/textassist/org.eclipse.nebula.widgets.opal.textassist.snippets/src/org/eclipse/nebula/widgets/opal/textassist/snippets/TextAssistSnippet.java
  widgets/opal/textassist/org.eclipse.nebula.widgets.opal.textassist/src/org/eclipse/nebula/widgets/opal/textassist/TextAssist.java
Labels: TextAssist

#22 Bug 538599 property description not wrapped and not visible if long
  widgets/opal/propertytable/org.eclipse.nebula.widgets.opal.propertytable.snippets/src/org/eclipse/nebula/widgets/opal/propertytable/snippets/PropertyTableSnippet.java
  widgets/opal/propertytable/org.eclipse.nebula.widgets.opal.propertytable/src/org/eclipse/nebula/widgets/opal/propertytable/AbstractPTWidget.java
Labels: PropertyTable

#16 Fix bug 534270 (Unexpected padding to right of RoundedToolItems when RoundedToolbar has SWT.HIDE_SELECTIO)
  widgets/opal/roundedtoolbar/org.eclipse.nebula.widgets.opal.roundedtoolbar.snippets/src/org/eclipse/nebula/widgets/opal/roundedtoolbar/snippets/RoundedToolbarSnippet.java
  widgets/opal/roundedtoolbar/org.eclipse.nebula.widgets.opal.roundedtoolbar/src/org/eclipse/nebula/widgets/opal/roundedtoolbar/RoundedToolItem.java
Labels: RoundedToolbar
